.popup__close-btn-form {
  position: relative;
  display: flex;
  margin-top: 50px;
  margin-right: -40px;
  margin-bottom: 0;
  margin-left: auto;
  max-width: 32px;
}
.popup__close-btn-form:active + .popup__form-image { 
  opacity:0;
  transition:visibility 0s ,opacity 1s linear;
}

@media (max-width: 598px) and (min-width: 320px) {
  .popup__close-btn-form {
    max-width: 20px;
    margin-top: 100px;
    margin-right: 0px;
  }
}