.element__icon {
  margin: 28px 20px 30px 30px;
  width: 22px;
  height: 19px;
  background-size: contain;
  background-color: #FFFFFF;
  background-image: url(../../../images/Vector.svg);
  border: none;
}

.element__icon:hover {
  cursor: pointer;
  opacity: .6;
}
