.popup__close-btn-image{
  padding: 0;
  margin:0 0 0 auto;
  border-style: none;
  background-image: url(../../../images/Close\ Icon.png);
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  width: 32px;
  height: 32px;
}

.popup__close-btn-image:hover {
  cursor: pointer;
  opacity: .6;
}

@media (max-width: 598px) and (min-width: 320px) {
  .popup__close-btn-image {
    max-height: 20px;
    max-width: 20px;
  }
}